* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mouse{
    width: 9rem;
    height: 9rem;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.nav-link,
nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    min-width: 10vh;
    align-items: center;
    color: rgb(228, 228, 228);
    flex: 0.9;
    margin: auto;

}
.nav-link,
h1{
    flex: 0.97;
}
body{
    background-color: rgb(34, 31, 31);
    font-family: "Popnis", sans-serif;
}

a{
    color: rgb(228, 228, 228);
}